@keyframes noise-anim {
  0% {
    clip-path: inset(40% 0 61% 0);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
  }
  40% {
    clip-path: inset(43% 0 1% 0);
  }
  60% {
    clip-path: inset(25% 0 58% 0);
  }
  80% {
    clip-path: inset(54% 0 7% 0);
  }
  100% {
    clip-path: inset(58% 0 43% 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(27% 0 58% 0);
  }
  20% {
    clip-path: inset(13% 0 40% 0);
  }
  40% {
    clip-path: inset(88% 0 4% 0);
  }
  60% {
    clip-path: inset(6% 0 79% 0);
  }
  80% {
    clip-path: inset(96% 0 3% 0);
  }
  100% {
    clip-path: inset(92% 0 6% 0);
  }
}

.glitch {
  position: relative;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: noise-anim 3s infinite linear alternate-reverse;
  clip-path: inset(44% 0 56% 0);
}

.glitch span:last-child {
  animation: noise-anim-2 2s infinite linear alternate-reverse;
  clip-path: inset(44% 0 56% 0);
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 