// html {
//   scroll-behavior: smooth;
// }


.body {
  font-family: "all-round-gothic", sans-serif;
}
.gothic-bold {
  font-family: "all-round-gothic", sans-serif;
text-transform: uppercase;
}
.text-normal{
  text-transform: none;
}
.text-1_5{
  font-size: 1.5rem;
}
.round-area{
  transform:rotateZ(357deg);
  background: linear-gradient(90deg, #EA3931 0%, #EF6326 25.97%, #F17721 38.95%, #F2821E 46.64%, #F38C1B 58.18%, #F8BE0E 74.05%, #F9C60B 80.65%, #F9C80B 87.5%, #FAD208 100%);
  box-shadow: 0px 3.9px 3.9px 0px #55555540;
&.round2{
  transform:rotateZ(1.71deg);
}
}



.bg-ssvm-grey{
  background: #FFFFFF40 !important;
  border: 1px solid !important;
// border-image-source: linear-gradient(180deg, #C4C4C4 0%, #666666 100%) !important;
backdrop-filter: blur(28.892988204956055px) !important;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border {
  width: 80%;
  position: relative;
  background: url("../../../public/assets/images/award.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 20px;
}
.moving-border::before,
.moving-border::after {
  content: "";
  position: absolute;
  inset: 0rem;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(var(--angle), 
    #032146,  #C3F2FF, #b00);
  background: linear-gradient(var(--angle), #FF4949 , #26D99E, #439BFF , #FFA230 , #FF4949, #26D99E);

  animation: rotate 10s linear infinite;
}

.moving-border::after {
  filter: blur(10px);
}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}




/* Scrolling text container styles */
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text styles */
.scroll-text h1{
  white-space: nowrap;
  font-size: 7rem ;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
  margin: 1.5rem 0;
  position: relative;
  width: fit-content;
}

.scroll-text span {
  display: inline-block;
  padding-right: 2rem;
  /* padding: 0.5rem 1rem; */
  border-radius: 5px;
}

/* Initial transform states */
.left-to-right {
  transform: translateX(-100%);
}

.right-to-left {
  transform: translateX(100%);
}
/* Responsive text sizes */
@media (max-width: 768px) {
    .scroll-text h1{
        font-size: 3.3rem !important;
    }
}   



.backdrop{
  background: radial-gradient(circle,rgba(248, 190, 14, 0.53) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: contain;
}
.clip-bg{
  background-image: url("../../../public/assets/images/Group.svg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: blur(10px);
}
.clip-top{
  background: radial-gradient(circle,rgba(248, 190, 14, 0.53) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blur{
  backdrop-filter: blur(10px);
}
.stroke{
  -webkit-text-stroke: 1px #fff;
  color: transparent;

}
.py-10{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.pb-10{
  padding-bottom: 10rem;
}
.countdown{
  border: 2px solid #FFB700;
  border-radius: 10px;
  padding: 30px 50px;
  margin-top: 4rem;
  width: fit-content;
  background-color: #222020;
  li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      span{
        border: 2px solid #EA3B31;
        background: #fff;
        color: #000;
        padding: 10px;
        border-radius: 10px;
        width: 100px;
        text-align: center;
        font-size: 38px;
        font-weight: 700;
      }
  }
  @media (max-width: 768px) {

      padding: 10px;
      li{
        span{
          font-size: 28px;
          width: 70px;
        }
      }
  }
}
.emoji{
  display: none;
}

.registerbox{
  background: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
  h3{
    font-size: 24px;
    font-weight: 700;
    color: #000;
  }
  a{
    background: linear-gradient(87.86deg, #FF6200 1.8%, #FF8800 39.7%, #FD9100 77.59%, #FBEB8E 116.64%);
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}