// html {
//   scroll-behavior: smooth;
// }


body {
  font-family: All Round Gothic;
text-transform: uppercase;

}
.gothic-bold {
  font-family: All Round Gothic;
text-transform: uppercase;
}
.text-normal{
  text-transform: none;
}
.text-1_5{
  font-size: 1.5rem;
}
.round-area{
  transform:rotateZ(357deg);
  background: linear-gradient(90deg, #EA3931 0%, #EF6326 25.97%, #F17721 38.95%, #F2821E 46.64%, #F38C1B 58.18%, #F8BE0E 74.05%, #F9C60B 80.65%, #F9C80B 87.5%, #FAD208 100%);
  box-shadow: 0px 3.9px 3.9px 0px #55555540;
&.round2{
  transform:rotateZ(1.71deg);
}
}



.bg-ssvm-grey{
  background: #FFFFFF40 !important;
  border: 1px solid !important;
// border-image-source: linear-gradient(180deg, #C4C4C4 0%, #666666 100%) !important;
backdrop-filter: blur(28.892988204956055px) !important;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.moving-border {
  width: 200px;
  height: 300px;
  position: relative;
  background: #111;
  padding: 4px;
}
.moving-border::before,
.moving-border::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), 
    #032146,  #C3F2FF, #b00);
  background: linear-gradient(var(--angle), #FF4949 , #26D99E, #439BFF , #FFA230 , #FF4949, #26D99E);

  animation: rotate 10s linear infinite;
}

.moving-border::after {
  filter: blur(10px);
}
@keyframes rotate {
  0%     { --angle: 0deg; }
  100%   { --angle: 360deg;
  }
}




/* Scrolling text container styles */
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text styles */
.scroll-text h1{
  white-space: nowrap;
  font-size: 7rem ;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.7); */
  margin: 1.5rem 0;
  position: relative;
  width: fit-content;
}

.scroll-text span {
  display: inline-block;
  padding-right: 2rem;
  /* padding: 0.5rem 1rem; */
  border-radius: 5px;
}

/* Initial transform states */
.left-to-right {
  transform: translateX(-100%);
}

.right-to-left {
  transform: translateX(100%);
}
/* Responsive text sizes */
@media (max-width: 768px) {
    .scroll-text h1{
        font-size: 3.3rem !important;
    }
}   